
main {
background:url(../images/fondomusica.png);

}
img {max-width:100%;}
.bolaDiv {
}
.bolaDiv img {float:left;}
.bolaTitulo {
	color:white;
	float:left;
	margin-left:1em;
	font-size:16pt;
	line-height:37px;
}
#tituloImg1, #tituloImg2 {
	margin-bottom:2em;
}


#descripcion {text-align:left;width:100%; margin: 0 auto; margin-bottom:3em}
#descripcion img {margin-left:2em;}
#descripcion p {padding-left:3em;color:white; clear:both; }

#generos {
	width:300px;
	position:relative;
	left:-2em;
}
.solo-pc {display:none;}
.solo-cel {display:block;}

@media screen and (min-width:480px) {
	#descripcion {text-align:left;width:80%;}
	.solo-pc {display:block;}
	.solo-cel {display:none;}
}

@media screen and (min-width:1024px) {
	#descripcion {text-align:left;}
#descripcion h1 {margin-left:2em; color:white;}
#descripcion p {padding-left:6em;color:white; clear:both; }

}