@charset "utf-8";
main {
	text-align:left;
	background:url(../images/fondofestival.png);
}
.flexslider .slides img {margin: 0 0;}
.bolaDiv {
}
.bolaDiv img {float:left;}
.bolaTitulo {
	color:white;
	float:left;
	margin-left:1em;
	font-size:16pt;
	line-height:37px;
}
#tituloImg {
	margin-bottom:2em;
}
#titulo {text-align:center;}
#titulo img {max-width: 100%;}
.secciones {margin-bottom:1em;}
#punto {margin: auto 0;    text-align: center;}

.descripcion {text-align:left;margin-bottom:3em;    padding-right: 1em;}

.descripcion img {margin-left:2em;}
.descripcion p {padding-left:6em;color:white; clear:both; }

#main-left {width:100%;}
#main-right {width:100%;}
#main-bottom {clear:both; width:100;}

.desplz img {margin-left:2em;}
h1 {margin-left:2em;}
#main-bottom  img {margin-left:0;}

@media screen and (min-width:480px) {
	.desplz {margin-left: 85px;}
	}

@media screen and (min-width:1024px) {
#main-left {float:left;}
#main-right {float:right; width:50%;}
}

#crono {width:100%}
